mixin comment(options = {}, mods = [])
  include ../like-button/like-button
  -
    let allMods = '';
    if (mods) {
      for (let i = 0; i < mods.length; i++) {
        allMods += ' comment_' + mods[i].trim();
      }
    }

    var classList = 'comment' + mods;
    var avatarStyles = options.avatar ? `background-image: url('/images/${options.avatar}');` : '';
    var username = options.username || '';
    var datetime = options.datetime || '';
    var text = options.text || '';
    var likesCount = options.likes || '';
    var isLiked = options.isLiked || '';
  article(class=classList)
    .comment__heading
      .comment__avatar(style=avatarStyles)
      .comment__info
        .comment__username= username
        .comment__datetime= datetime
    .comment__content
      .comment__likes
        +like-button({
          count: likesCount,
          mods: isLiked ? ['liked'] : []
        })
      p.comment__text= text
